<?xml version="1.0"?>
<opencv_storage>
    <type_process>0</type_process>
    <showflag>0</showflag>
    <saveflag>0</saveflag>
    <htails>7</htails>
    <vtails>7</vtails>
    <width_tails>168</width_tails>
    <height_tails>102</height_tails>
    <padding>4</padding>
    <paddingcolor>255</paddingcolor>
    <margin>0</margin>
    <margincolor>128</margincolor>
    <margin_ext>0</margin_ext>
    <margin_ext_color>255</margin_ext_color>
    <image>"media/image.jpg"</image>
    
</opencv_storage>
